<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">




<div layout:fragment="content" class="content" style="">
  <script th:inline="javascript">
        var boardTime = /*[[${board.regTime}]]*/ '';
        var date = new Date(boardTime);
        var today = new Date();
        var year = date.getFullYear();
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var day = ('0' + date.getDate()).slice(-2);
        var hours = ('0' + (date.getHours())).slice(-2);
        var minutes = ('0' + date.getMinutes()).slice(-2);
        var second = ('0' + date.getSeconds()).slice(-2);

</script>

  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  <!-- 메인 부분 -->
  <!-- 메인 부분 -->
  <div class="container-fluid " style="margin-top: 40px;">
    <div class="row gx-0">
      <div class="row">
        <div class="col-md-4 text-center h3">
          <a href="list.html">현재 카테고리이름 표시</a>
        </div>

      </div>

      <div class="col-10">
        <div class="container">

          <div class="row">
            <div class="col-12 text-center">
              <br><br><br>
              먼가 넣을수도 있는 공간 또는 디자인을 위한 공백
              <br><br><br>
            </div>
          </div>

          <div class="row">
            <div class="h3 col-12 p-4" th:text="${board.boardTitle}">
            </div>
          </div>
          <div class="row">
            <div class="col-1 p-4 text-center" th:text="${board.boardCreatedBy}">
            </div>
            <div class="col-1 p-4 text-center" th:text="${board.boardCount}">
            </div>
            <div class="col-1 offset-7 p-4 text-center" th:text="${#temporals.format(board.regTime, 'yyyy-MM-dd HH:mm:ss')}">
            </div>
            <div class="col-1 p-4 text-center">
              <a href="#">수정</a>
            </div>
            <div class="col-1 p-4 text-center">
              <a href="#">삭제</a>
            </div>
          </div>

          <div class="row">
            <div class="h3 col-12 p-2">
              내용 부분
            </div>
            <pre class="col-12 p-4" style="min-height: 500px;" th:text="${board.boardContent}">
            </pre>
          </div>

          <div class="row" style="height: 100px;">
            <div class="col-1 offset-3 p-4 text-center"><a href="#">좋아요</a></div>
            <div class="col-1 p-4 text-center" th:text="${board.boardLikeCount}"></div>
            <div class="col-1 offset-1 p-4 text-center"><a href="#">싫어요</a></div>
            <div class="col-1 p-4 text-center" th:text="${board.boardHateCount}"></div>
          </div>

          <div class="row">
            <div class="offset-10 col-2 p-2 text-center">
              <a href="#" th:text="신고+${board.boardReportsCount}"></a>
            </div>
          </div>



          <div class="row">
            <div class="h3 col-12 p-2">
              댓글 부분
            </div>
          </div>


<div th:each="comment:${commentList}">
          <div class="row" >
            <div class="col-1 p-1">
              작성자 프로필
            </div>
            <div class="col-1 p-1" th:text="작성자+${comment.createdBy}">
            </div>
            <div class="col-1 p-1 text-center">
              <script th:inline="javascript">
                var boardTime = /*[[${comment.regTime}]]*/ '';
                var date = new Date(boardTime);
                var clientOffset = new Date().getTimezoneOffset(); // 클라이언트의 시간대 오프셋 (분 단위)
                var timeOffset = clientOffset * 60 * 1000; // 시간대 오프셋 차이 (밀리초 단위)
                date.setTime(date.getTime() + timeOffset); // 서버 시간에 오프셋을 더합니다.
                var today = new Date();
                var year = date.getFullYear();
                var month = ('0' + (date.getMonth() + 1)).slice(-2);
                var day = ('0' + date.getDate()).slice(-2);
                var hours = ('0' + (date.getHours())).slice(-2);
                var minutes = ('0' + date.getMinutes()).slice(-2);
                var second = ('0' + date.getSeconds()).slice(-2);
                document.write('(' + year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + second + ')');
              </script>
            </div>
            <div class="col-1 p-1 text-center">
              <a href="#">수정</a>
            </div>
            <div class="col-1 p-1 text-center">
              <a href="#">삭제</a>
            </div>
            <div class="offset-2 col-1 p-1 text-center">
              <a href="#">좋아요</a>
            </div>
            <div class="col-1 p-1 text-center" th:text="${comment.commentLikeCount}">
            </div>
            <div class="col-1 p-1 text-center">
              <a href="#">싫어요</a>
            </div>
            <div class="col-1 p-1 text-center" th:text="${comment.commentHateCount}">
            </div>
            <div class="col-1 p-1 text-center">
              <a href="#" th:text="'신고('+${comment.commentReportsCount}+')'"></a>
            </div>
          </div>

          <div class="row">
            <div class="col-12 p-4" th:text="'댓글내용='+${comment.commentContent}">
              댓글 내용 1 <br><br>
            </div>
            <div class="col-12 ">
              <a href="#">대댓글 작성</a>
            </div>
          </div>

  <div th:each="commentsComment:${commentsCommentMap[comment.commentId]}">
          <div class="row">
            <div class="offset-2 col-1 p-1">
              작성자 프로필
            </div>
            <div class="col-1 p-1" th:text="'대댓글작성자='+${commentsComment.createdBy}">

            </div>
            <div class="col-1 p-1 text-center">
              <script th:inline="javascript">
                var boardTime = /*[[${commentsComment.regTime}]]*/ '';
                var date = new Date(boardTime);
                var clientOffset = new Date().getTimezoneOffset(); // 클라이언트의 시간대 오프셋 (분 단위)
                var timeOffset = clientOffset * 60 * 1000; // 시간대 오프셋 차이 (밀리초 단위)
                date.setTime(date.getTime() + timeOffset); // 서버 시간에 오프셋을 더합니다.
                var today = new Date();
                var year = date.getFullYear();
                var month = ('0' + (date.getMonth() + 1)).slice(-2);
                var day = ('0' + date.getDate()).slice(-2);
                var hours = ('0' + (date.getHours())).slice(-2);
                var minutes = ('0' + date.getMinutes()).slice(-2);
                var second = ('0' + date.getSeconds()).slice(-2);
                document.write('(' + year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + second + ')');
              </script>
            </div>
            <div class="col-1 p-1 text-center">
              <a href="#">수정</a>
            </div>
            <div class="col-1 p-1 text-center">
              <a href="#">삭제</a>
            </div>
            <div class="col-1 p-1 text-center">
              <a href="#">좋아요</a>
            </div>
            <div class="col-1 p-1 text-center" th:text="${commentsComment.commentsCommentLikeCount}">

            </div>
            <div class="col-1 p-1 text-center">
              <a href="#">싫어요</a>
            </div>
            <div class="col-1 p-1 text-center" th:text="${commentsComment.commentsCommentHateCount}">

            </div>
            <div class="col-1 p-1 text-center">
              <a href="#" th:text="'신고('+${commentsComment.commentsCommentHateCount}+')'"></a>
            </div>
          </div>

          <div class="row">
            <div class="offset-2 col-10 p-4" th:text="${commentsComment.commentsCommentContent}">
              대댓글 내용 1
            </div>
          </div>
  </div>
<div style="display:none">
          <div class="row">
            <div class="offset-2 col-1 p-1" th:text="닉네임+${#authentication.principal.nickName}">
            </div>
          </div>
          <div class="row">
            <div class="offset-2 col-9 p-4">
              대댓글 작성 부분
            </div>
            <div class="col-1 p-4">
              <button class="form-control">작성</button>
            </div>
          </div>
</div>


</div>

<!--          <div class="row">-->
<!--            <div class="col-md-12  text-center h5">-->
<!--              <a href="#"><img src="/img/left-arrow2.svg" style="width: 15px; height: 15px;"/></a> &nbsp&nbsp&nbsp-->
<!--              <a href="#"><img src="/img/left-arrow.svg" style="width: 15px; height: 15px;"/></a>&nbsp&nbsp&nbsp-->
<!--              <a href="#">1</a>&nbsp <a href="#">2</a>&nbsp <a href="#">3</a>&nbsp <a href="#">4</a>&nbsp <a-->
<!--                    href="#">5</a>&nbsp&nbsp&nbsp-->
<!--              <a href="#"><img src="/img/right-arrow.svg" style="width: 15px; height: 15px;"/></a>&nbsp&nbsp&nbsp-->
<!--              <a href="#"><img src="/img/right-arrow2.svg" style="width: 15px; height: 15px;"/></a>-->
<!--            </div>-->
<!--          </div>-->



          <div class="row">
            <div class="col-1 p-1" th:text="닉네임+${#authentication.principal.nickName}">
            </div>
          </div>

          <div class="row">
            <div class="col-11 p-4">
              <textarea name="boardContent" id="boardContent" class="form-control" rows="4" placeholder="댓글작성부분"></textarea>
            </div>
            <div class="col-1 p-4">
              <button class="form-control">작성</button>
            </div>
          </div>


          <div class="row" style="height: 100px;">
            <br>
            <div class="col-2 offset-5 p-4">
              <a href="/board/all" class="btn btn-outline-secondary btn-lg">목록</a>
            </div>
          </div>




        </div>
      </div>





      <!-- 사이드메뉴 부분 -->
      <!-- 사이드메뉴 부분 -->
      <script>
          function submitForm(categoryId) {
              var url = "/board/" + categoryId;
              window.location.href = url;
          }
      </script>
      <div class="col-2">
        <div class="container-fluid" style="border: 1px solid black;">
          <form method="get" action="/board/all">
            <div class="row">
              <div class="col-md-12 text-center side_menu">
                <button type="submit">전체보기</button>
              </div>
              <div class="col-md-12 text-center side_menu"  th:each="category : ${categoryList}">
                <button type="button" name="category" th:onclick="'submitForm(' + ${category.categoryId} + ')'">
                  <span th:text="${category.categoryName}"></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>






    </div>
  </div>

</div>






</html>