<div class="col-2">
  <div class="container-fluid" style="border: 1px solid black;">

    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a href="#">카테고리1</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a href="#">카테고리2</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a href="#">카테고리3</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a href="#">카테고리4</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a href="#">카테고리5</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a href="#">카테고리6</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a href="#">카테고리7</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a href="#">카테고리8</a>
      </div>
    </div>

  </div>
</div>