<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<style>
  .side_menu {
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  .side_menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .side_menu a:hover {
    color: #ff5500;
  }

  .container-fluid {
    border-radius: 5px;
    padding: 10px;
  }
</style>
<div class="col-2">
  <div class="container-fluid" style="border: 1px solid black;">

    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a th:href="@{/comm/boardMain}">커뮤니티</a>
      </div>
    </div>
    <div class="row" >
      <div class="col-md-12 text-center side_menu">
        <a th:href="@{/user/mypage}">마이페이지</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center side_menu " sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/admin/main}">관리자</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a th:href="@{/health/recommendedPage}">헬스페이지</a>
      </div>
    </div>
  </div>
</div>
</html>