<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="col-2">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a th:href="@{/health/recommendedPage}">추천 페이지</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a th:href="@{/health/exerciseInformationPage}">정보제공 페이지</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center side_menu">
        <a th:href="@{/health/healthCalculator}">계산기 페이지</a>
      </div>
    </div>


  </div>
</div>
</html>